{% extends "Admin/home.html" %}
{% block body %}

<form id="form1" name="form1" method="post" action="/search_user">
  <table width="200" border="5" style="color: white" class="table table-hover">
    <tr>
      <td><label for="textfield"></label>
      <input type="text" name="search" placeholder="Search Here...." id="textfield" class="form-control"/></td>
      <td><input type="submit" name="Go" id="" value="Go" class="btn btn-success" align="middle"/></td>
    </tr>
  </table>
  <table width="200" border="5"  class="table table-hover">
    <tr style="background-color: black;color: white">
      <td>SI.No</td>
      <td>Name</td>
        <td>Gender</td>
      <td>Address</td>
      <td>Email</td>
      <td>Phone</td>
  
     
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['name'] }}</td>
      <td>&nbsp;{{ i['gender'] }}</td>
      <td>Place :{{ i['place']}} <br>City :{{i['city']}} <br>Sate :{{i['state']}} <br>Pincode  :{{i['pincode'] }}</td>
      <td>{{ i['email'] }}&nbsp;</td>
      <td>{{ i['phone'] }}&nbsp;</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}