{% extends "Admin/home.html" %}
{% block body %}



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/search_pbarber">
  <table width="200" border="5"  class="table table-hover">
    <tr>
      <td><label for="textfield"></label>
      <input type="text" name="search" placeholder="Search Here....." id="textfield" class="form-control" /></td>
      <td><input type="submit" name="Go" id="" value="Go" class="btn btn-success" /></td>
    </tr>
  </table>
  <table width="200" border="5"  class="table table-hover">
    <tr style="background-color: black;color: white">
      <td>SI.No</td>
      <td>Shop Name</td>
      <td>Shop Type</td>
      <td>Address</td>
      <td>About</td>
      <td>Email</td>
      <td>Phone</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['shopname'] }}</td>
      <td>&nbsp;{{ i['shoptype'] }}</td>
      <td>Place :{{ i['place']}} <br>City :{{i['city']}} <br>Sate :{{i['state']}} <br>Pincode  :{{i['pincode'] }}</td>
      <td>{{ i['about'] }}</td>
      <td>&nbsp;{{ i['email'] }}</td>
      <td>&nbsp;{{ i['phone'] }}</td>
      <td><a href="/approve_shop/{{ i['loginid'] }}" class="btn btn-success">Approve</a></td>
      <td><a href="/reject_shop/{{ i['loginid'] }}" class="btn btn-danger">Reject</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
{% endblock %}